.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: grey;
  margin-left: 84px;
  margin-bottom: 36px;
}
.original_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 84px;
  margin-bottom: 36px;
}
.text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: grey;
  margin-left: 84px;
  margin-bottom: 36px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 36px;
  text-align: left;
}
.container {
  display: flex;
}
.img {
  width: auto;
  display: block;
  height: auto;
  object-fit: cover;
}
