.text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: grey;
  margin-left: 84px;
  margin-bottom: 36px;
}
.castItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 12px;
}

.castImage {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.castDetails {
  text-align: center;
}
.castList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
}
